DISPLAY_NAME=Hylang Mod
DESCRIPTION=Bot HYGMOG
MAIN=__main__.py
MEMORY=128
VERSION=latest
AVATAR=https://images-ext-2.discordapp.net/external/O82UI3HidOMnwmm-F5LW0m0Pok_ECj40rKJDH0U1dPM/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/999323537506566174/73c748595c8cd086e08724f6be6b2fb2.png?width=473&height=473